const char name[] = "J. P. Briggs";         ${{comment}}// name 的类型是 const char[13]${{default}}

template<typename T>
void f(T& param)

f(name);  ${{comment}}// T 的型别是 ${{variable}}${{tname}}${{comment}}, param 的型别是 ${{variable}}${{pname}}${{default}}
