${{type_x}} x = 27;         ${{comment}}// x 的类型是 ${{type_x}}${{default}}
${{type_cx}} cx = x;   ${{comment}}// cx 的类型是 ${{type_cx}}${{default}}
${{type_rx}} rx = x;  ${{comment}}// rx 的类型是 ${{type_rx}}${{default}}

template<typename T>
void f(${{param_type}} param)

f(x);  ${{comment}}// T 的型别是 ${{variable}}${{tx}}${{comment}}, param 的型别是 ${{variable}}${{px}}${{default}}

f(cx); ${{comment}}// T 的型别是 ${{variable}}${{tcx}}${{comment}}, param 的型别是 ${{variable}}${{pcx}}${{default}}

f(rx); ${{comment}}// T 的型别是 ${{variable}}${{trx}}${{comment}}, param 的型别是 ${{variable}}${{prx}}${{default}}

f(27); ${{comment}}// T 的型别是 ${{variable}}${{t27}}${{comment}}, param 的型别是 ${{variable}}${{p27}}${{default}}
